%tr{ class: auction.closed ? "warning" : "success" }
  %td
    - if auction.closed
      %i.glyphicon.glyphicon-ok
      %span 終了
    - else
      %span 開催中
  %td= link_to auction.name, [ :my, auction ]
  %td= auction.short_description
  %td
    - if auction.bids.empty?
      = link_to '出品取りやめ', [ :my, auction ], method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-sm pull-right"